body {
    background-color: #ffffff;
    text-align: center;
    font-family: 'Arvo', serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #000000;
    background-color: rgba(255, 0, 0, 0.757);
    font-size: 3rem;
    margin-top: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.set {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.drum {
    width: 120px;
    height: 120px;
    border: none;
    background-color: #f84444;
    color: #000000;
    padding: 2rem;
    font-size: 4rem;
    margin: 0 0.5rem;
    cursor: pointer;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.drum:hover {
    background-color: #fe0202;
    transform: scale(1.05);
}